body, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1350px;
    margin: 0 auto;
}

.btn {
    margin-left: 10px;
}

.form-control {
    transition: .3s;
}

[data-tooltip] {
    position: relative;
   }
   [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0; 
    left: 50%;
    width: 220px;
    height: 100%;
    background: orange;
    color: white;
    padding-top: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: .5s;
    text-align: center;
   } 
   [data-tooltip]:hover::after {
    opacity: 1;
    left: 105%;
}

@media screen and (max-width: 550px) {
    .header {
        img {
            display: none;
        }
    }
    [data-tooltip]::after {
        display: none;
    }
}
